* {
  margin: 0;
  padding: 0;
}
:root{
    --site-bg-color: #fff;
  --site-secondary-bg-color: rgb(27, 28, 33);
  --site-text-color: #212529;
  --site-alt-text-color: #fff;
  --site-link-color: #020617;
  --site-primary-color: #C19870;
  --site-secondary-color: #f4f2ed;
  --site-font-size-normal: 1.6rem;
  --site-font-size-small: 1rem;
  --site-font-size-medium: 2.5rem;
  --site-font-size-big: 5rem;
  --site-font-size-large: 7rem;
  --site-font-family-general: "Roboto", sans-serif;
  --site-font-family-heading: "Poppins", sans-serif;
  --site-line-height-normal: 1.6;
}
html{
    font-size: 62.5%;
}
p, span, a, div{
    font-size: var(--site-font-size-normal);
}
html,
body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Roboto", "sans-serif";
  color: var(--site-text-color);
  text-align: center;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.column{
    flex-direction: column;
}
.justify-between{
    justify-content: space-between;
}
.container{
    max-width: 1100px;
    margin: auto;
}
.site-title-large{
    font-size: var(--site-font-size-large);
}
.site-title-big{
    font-size: var(--site-font-size-big);
}
.site-title-medium{
    font-size: var(--site-font-size-medium);
}
.site-title-normal{
    font-size: var(--site-font-size-normal);
}
.site-title-small{
    font-size: var(--site-font-size-small);
}
button{
    background-color: #333;
    color: #fff;
    padding: 2rem 4rem;
    border: none;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    cursor: pointer;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
nav{
    background-color: var(--site-secondary-bg-color);
    text-align: center;
    padding: 2rem 4rem;
}
input{
    padding: 1.8rem 4rem;
    border-radius: 10px;

}
