.task-item {
  padding: 1rem 2rem;
  border: 1px solid var(--site-primary-color);
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  border-radius: 2rem;
  align-items: center;
}
.category-and-label {
  display: flex;
  gap: 1rem;
}
.category-and-label span {
  background-color: green;
  color: #fff;
  padding: 0.5rem;
  border-radius: 1rem;
}
