#list-background{
    background-color: var(--site-link-color);
    color: var(--site-bg-color);
    border: 1px solid var(--site-primary-color);
    width: 30%;
 }
 
 .task-item{
     padding: 1rem 2rem;
     border: 1px solid var(--site-primary-color);
 }